<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-GSSYMXZHEB"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-GSSYMXZHEB');
        </script>
        <title>Register</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="assets/css/register.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" rel="stylesheet">
    </head>
    <body>
    <div class="page-wrapper">
        <nav>
            <div class="nav-bar">
                <div class="home dropdown">
                    <a id="home" class="nav-subject" href="index.html">Home</a>
                </div>
                <div class="nav-projects dropdown">
                    <a id="projects" href="projects.html">Projects</a>
                </div>
                <div class="nav-about dropdown">
                    <a id="skills" class="nav-subject" href="about me.html">My skills and experience</a>
                </div>
                <div class="nav-blog dropdown">
                    <a id="contact" class="nav-subject" href="register.html">Get in touch</a>
                </div>
            </div>
        </nav>
        <div id="signup" class="signInContainer">
            <div class="column">
                <div class="register-header">
                    
                    <h3>Sign Up</h3>                    
                </div>
                <form v-on:submit.prevent method="post">
                    <input
                        v-model="firstName"
                        @blur="isValidName"
                        type="text" placeholder="First name" 
                        name="firstName" 
                    required>
                    <span v-bind:class="{isActive: invalidFirstName}"
                          v-if="invalidFirstName">{{nameMessage}}</span>

                    <input type="text"
                        @blur="isValidLastName"
                        v-model='lastName'
                        placeholder="Last name" 
                        name="lastName" 
                    required>
                    <span v-bind:class="{isActive: invalidLastName}"
                          v-if="invalidLastName">{{nameMessage}}</span>

                    <input
                        v-model='email'
                        @blur="isValidEmail"
                        type='email' 
                        placeholder="email" 
                        name="email" 
                    required>
                    <span v-bind:class="{isActive: invalidEmail}"
                          v-if="invalidEmail">{{emailMessage}}
                    </span>

                    <input type='email'
                           v-model='email2'
                           @blur="emailConfirmed"
                            placeholder="confirm email" 
                            name="email2" 
                            required>
                    <span v-bind:class="{isActive: emailsMatch}"
                          v-if="emailsMatch">{{emailMatch}}
                    </span>
                    <label for="longText">Message</label>
                    <textarea id='longText' v-model='longText' rows='4' columns='50'></textarea>

                    
                    <div class="formControls">
                       <input type="submit" value="submit">
                       <button v-on:click='resetForm'>Reset Form</button>
                       
                    </div>                   
                    
                </form>
                
                <a href="login.html" class="signInMessage">Already have an account? Sign In here!</a>
                    
                   
            </div>
        </div>
    <footer>
        <div class="footer">
            <div class="linkedIn">
                <i class="fab fa-linkedin fa-2x" style="color: #0072b1"></i>
                <a href="https://www.linkedin.com/in/brooksdjohnson" target="_blank">Connect on LinkedIn</a>
            </div>
            <div class="youtube">
                <i class="fab fa-youtube-square fa-2x" style="color: #FF0000;"></i>
                <a href="https://www.youtube.com/c/BrooksJohnson_softwareandsalesforce">Subscribe on YouTube</a>
            </div>
            <div class="twitter">
                <i class="fab fa-twitter-square fa-2x" style="color: #1DA1F2;"></i>
                <a href="https://mobile.twitter.com/BrooksJohnson72" target="_blank">Follow me on Twitter</a>
            </div>
            <div class="copywrite">
                &#169; 2021 Brooks Johnson
            </div>
        </div>
    </footer>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
        <script src="js/register.js"defer></script>
    </body>
</html>