/*blatant rip off from stack overflow
https://stackoverflow.com/questions/20525820/css3-simple-donut-chart
*/

.donutContainer {
    position: absolute;
    bottom: 10px;
    left: 10%;
}

.donutContainer h2 {
    text-align:center;
    position: absolute;
    top: 20%;
    line-height: 125px;
    width: 100%;
}

svg {
    transform: rotate(-90deg);
}

.donut {
  stroke-dasharray: 440;
  -webkit-animation: donut 1s ease-out forwards;
  animation: donut 1s ease-out forwards;
}

@-webkit-keyframes donut {
  from {
    stroke-dashoffset: 440;
  }
}

@keyframes donut {
  from {
    stroke-dashoffset: 440;
  }
}
