@import url(donut.css);

:root{
    --midnight-blue: rgb(16, 55, 131);
    --cornflower-blue: #023E8A;
    --pale-blue: rgb(155, 175, 217);
    --powder-blue: #CAF0F8
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0px;
    box-sizing: inherit;
}

html{
    font-size: 10px;

}


body{
    font-family: "Lato", sans-serif;
    background-color: #efefee;
    font-size: 1rem;
    line-height: 1.5;
    color: #141313;
    
    box-sizing: border-box;
}
.menu-icon{
    color: #efefee;
    font-size: 2.5rem;
    position: absolute;
    right: 10px;
    display: block;
}

.nav-bar{
    position: fixed;
    display: grid;
    grid-template-areas: "icon nav1 nav2 nav3";
    background-color: var(--cornflower-blue);
    
    width: 100vw;
    height: 6rem;
    z-index: 1;
}

.nav-bar a {
    display: block;
    color: #141313;
    font-size: 2rem;
    text-decoration: none;
}

.nav-subject{
    display: block;
    color: #efefee;
    font-weight: 700;
    font-size: 2rem;
}
.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    min-width: 10rem;
    z-index: 1;
    background-color: var(--pale-blue)
}

.dropdown:hover .dropdown-content{
    display: block;
}



.nav-blog{
    grid-area: nav3;
}
.nav-projects{
    grid-area: nav1;
}

.nav-about{
    grid-area: nav2;
}

.hide{
    display: none;
}


#menu-wrapper{
    background-color: var(--midnight-blue);
    grid-column: 1 / -1;
    border: 1px solid green;
    width: 95vw;
}
#menu-wrapper > ul{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .5s, linear;
}

#menu-wrapper:hover > ul{
    visibility: visible;
    opacity: 1;
}




.nav-menu li a{
    color: #efefee;
    font-size: 1.5rem;

}

.header{
    background-image: linear-gradient(to right bottom,
    rgba(155, 175, 217, 0.7),
    rgba(16, 55, 131, 0.7)),
    url("../img/hero1.jpg");
    height: 95vh;
    position: relative;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.text-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin: 0 0 1rem 0;
}

.heading-primary-main{
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-iteration-count: 3;*/
    /* animation-delay: 1s;*/

}

.heading-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translatex(20%);
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about img{
    border-radius: 20%;
    max-width: 200px;
    align-self: center;
    justify-self: end;
    padding: 0 1rem;
    grid-column: 1;

}

.intro-text {
    text-indent: 5rem;
    grid-column: 2 / -1;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 3rem;
}

.intro-text article p{
    padding: 1rem 0;
}

.intro-text h2{
    text-align: center;
    color: var(--midnight-blue);
}


.skills{
    margin: 3rem 0;
    display: grid;
    width: 100vw;
    grid-template-areas:
            "header header header header header header"
            "salesforce js python html css vue";
}
.skills-heading{
    text-align: center;
    grid-area: header;
    font-size: 3rem;
    color:  var(--midnight-blue);
    margin: 0 0 2rem 0;
}
.skills-card{   
    position: relative; 
    outline: 1px solid var(--pale-blue);
    width: 20rem;
    min-height: 20rem;
    border-radius: 3px;
    background-color: var(--powder-blue);
    box-shadow: 2px 2px 1px 1px  rgba(195, 188, 188, .9);
    transition-duration: .5s;
}

.skills-card:hover{
    transform: scale(1.1);
}

.skills-card h2{
    text-align: center;
    font-weight: 800;
}
.skills-card img{
    position: absolute;
    display: block;
    left: 40%;
    top: 25%;   
    padding: 1rem 0;   
    max-width: 5rem;
}

.skills-card--sf{
    grid-area: salesforce;
}

.skills-card--js{
    grid-area: js;
}
.skills-card--py{
    grid-area: python;
}
.skills-card--html{
    grid-area: html;
}

.skills-card--css{
    grid-area: css;
}

.skills-card--vue{
    grid-area: vue;
}

footer{
    background-color: var(--pale-blue);
    grid-column: 1 / -1;
    min-height: 10rem;
    margin: 2rem 0 0 0;
}
@media only  screen and (min-width: 375px)
and (max-width: 700px){

    .skills{
        grid-template-areas: 
        "header header header"
        "salesforce js python "
        "html css vue";
    }

    .heading-primary-main {
        display: block;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 2.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /*animation-iteration-count: 3;*/
        /* animation-delay: 1s;*/

    }

    .heading-primary-sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.7rem;
        animation: moveInRight 1s ease-out;
    }

    .intro-text {
        background-color: red;
        font-size: 1.5rem;
        grid-column: 1 / -1;
    }

    .about img {
        display: none;
    }
}