@import url(donut.css);

:root{
    --midnight-blue: rgb(16, 55, 131);
    --cornflower-blue: #023E8A;
    --pale-blue: rgb(155, 175, 217);
    --powder-blue: #CAF0F8;
    --cta-purple: #b12cf9;
    
}


*,
*::before,
*::after{
    margin: 0;
    padding: 0px;
    box-sizing: inherit;
}

html{
    font-size: 10px;

}


body{
    font-family: "Lato", sans-serif;
    background-color: #efefee;
    font-size: 1rem;
    line-height: 1.5;
    color: #141313;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

a:active{
    color: var(--cta-purple);
}

a:visited{
    color: var(--pale-blue)
}


.menu-icon{
    color: #efefee;
    font-size: 2.5rem;
    position: absolute;
    right: 10px;
    display: block;
}

.nav-bar{
    position: fixed;
    display: grid;
    grid-template-areas: "icon nav1 nav2 nav3";
    background-color: var(--cornflower-blue);
    width: 100vw;
    height: 6rem;
    z-index: 1;
}

#home{
    color: white;
    padding: 0 0 0 3rem;
}

.nav-bar a {
    display: block;
    color: #efefee;
    font-size: 2rem;
    text-decoration: none;
}

#menu-wrapper{
    background-color: var(--midnight-blue);
    grid-column: 1 / -1;
    border: 1px solid green;
    width: 95vw;
}
#menu-wrapper > ul{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .5s, linear;
}

#menu-wrapper:hover > ul{
    visibility: visible;
    opacity: 1;
}




.nav-menu li a{
    color: #efefee;
    font-size: 1.5rem;

}

.header{
    background-image: linear-gradient(to right bottom,
    rgba(155, 175, 217, 0.7),
    rgba(16, 55, 131, 0.7)),
    url("../img/hero1.jpg");
    height: 95vh;
    position: relative;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.text-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary{
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin: 0 0 1rem 0;
}

.heading-primary-main{
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*animation-iteration-count: 3;*/
    /* animation-delay: 1s;*/

}

.heading-primary-sub{
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-20%);
    }

    80%{
        transform: translateX(10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translatex(20%);
    }

    80%{
        transform: translateX(-10px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.about img{
    border-radius: 20%;
    max-width: 200px;
    align-self: center;
    margin: 5rem 0 0 0;
    justify-self: end;
    padding: 0 1rem;
    grid-column: 1;

}

.intro-text {
    text-indent: 5rem;
    grid-column: 2 / -1;
    font-size: 2rem;
    font-weight: 400;
    padding: 1rem 3rem;
}

.intro-text article p{
    padding: 1rem 0;
}

.intro-text h2{
    text-shadow: 0 5px 10px rgba(0,0,0, .2);
    text-align: center;
    color: var(--midnight-blue);
}

footer{
    bottom: 0;
    background-color: var(--pale-blue);
    grid-column: 1 / -1;    
    margin: 2rem 0 0 0;
}

.youtube-button{
    grid-column: 2 / 4;
}

.project-button{
    grid-column: 4 /6;
}

.cta-button{
    text-align: center;
    max-width: 21rem;
    background-color: var(--cta-purple);
    padding: 2rem;
    font-size: 1.5rem;
    margin: 0 0 0 5rem;
    border-radius: 1rem;
    transition: all .2s;
}
.cta-button:hover{
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0, .2);
}

.cta-button:active{
    transform: translateY(-3px);
}





.footer{
    background-color: var(--powder-blue);   
    font-size: 1.5rem;
    display: grid;
    gap: 1.5rem .5rem;
    grid-template-columns: repeat(auto-fit,  minmax(10rem, 1fr));
    padding: 2rem 0 0 0;
}
.linkedIn{
   grid-row: 1;
   grid-column: 1;
}
.linkedIn a{
    color: black;
}

.twitter{
    grid-row: 1;
    grid-column: 3;
}
.twitter a {
    color: black;
}   


.youtube{
    grid-row: 1;
    grid-column: 2;
}

.youtube a {
    color: black;
}
.copywrite{
    grid-row: 2;
}
@media only  screen and (min-width: 375px)
and (max-width: 700px){

    .nav-bar a{
        font-size: 1.5rem;
        font-weight: 700;
    }



    .heading-primary-main {
        display: block;
        font-size: 4rem;
        font-weight: 700;
        letter-spacing: 2.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        /*animation-iteration-count: 3;*/
        /* animation-delay: 1s;*/

    }

    .heading-primary-sub {
        display: block;
        font-size: 2rem;
        font-weight: 400;
        letter-spacing: 1.7rem;
        animation: moveInRight 1s ease-out;
    }

    .intro-text {        
        font-size: 1.5rem;
        grid-column: 1 / -1;
    }

    .about img {
        display: none;
    }

    
}